<!DOCTYPE html>
<html>
<head>
    <title>DeepFakeChain</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
</head>
<body>

    <h1>{{ project }}</h1>
    
<form method="POST" enctype="multipart/form-data">

    <input
        type="file"
        name="image"
        accept=".jpg,.jpeg,.png"
    >

    <br><br>

    <button type="submit">
        Analyze Image
    </button>

</form>
{% if image_name %}

<p>Uploaded Image:</p>
<p>{{ image_name }}</p>
<img
    src="{{ url_for('static', filename='uploads/' + image_name) }}"
    width="300"
>

{% endif %}
{% if result %}

<h2>Analysis Result</h2>

<p>{{ result }}</p>

{% endif %}

{% if confidence %}

<h2>Confidence</h2>

<p>{{ confidence }}%</p>

{% endif %}


</body>
</html>